<ion-view title="会员">
	<ion-content>
		<div class="list">
			<a class="item button-item item-icon-left userImg vertical-mg" menu-close nav-clear href="#/app/user"> <i class="icon"><img src="img/head.jpg"></i>
				<h2 class="name">请登录</h2>
			</a>
			<a class="item button-item item-icon-left" menu-close nav-clear href="#/app/user"> <i class="icon ion-person"></i>
				个人信息
			</a>
			<a class="item button-item item-icon-left" menu-close nav-clear href="#/app/login">
				<i class="icon ion-social-usd"></i>
				充值中心
				<span class="item-note">余额：100</span>
			</a>
			<a class="item button-item item-icon-left" menu-close nav-clear  href="#/app/">
				<i class="icon ion-clipboard"></i>
				我的订单
				<span class="badge badge-assertive">1</span>
			</a>
			<a class="item button-item item-icon-left vertical-mg" href="javascript:void(0)">
				<i class="icon ion-gear-b"></i>
				设置
			</a>
		</div>
	</ion-content>
</ion-view>